<form #registerForm="ngForm" (ngSubmit)="addUser(registerForm.form.value)">
    <mat-card>
        <mat-card-content>
            <mat-card-title>Añadir usuario</mat-card-title>

            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input matInput name="username" type="text" ngModel required>
            </mat-form-field>

            <!--
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput name="password1" type="password" ngModel required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput name="password2" type="password" ngModel required>
            </mat-form-field>
            -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid">Guardar</button>
        </mat-card-actions>
    </mat-card>
</form>