<mat-toolbar color="primary">
    <button mat-icon-button (click)="sideMenu.toggle()">
        <mat-icon>menu</mat-icon>
    </button> 

    <mat-label>
        <p>MiiBot</p>
    </mat-label> 
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sideMenu mode="over">
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let page of pageList" (click)="navigateTo(page)">{{ page.name }}</mat-list-option>
        </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>